<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Course</title>
  <title>User form</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
  <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>

</head>
<body style="background-color: rgba(19,213,246,0.1);">
<div class="row mt-5 ml-0 mr-0" style="height: 400px;">
    <div class="col-md-6 offset-3 " style="background-color: white; border-radius:10px ;border: 2px solid gray;box-shadow: 5px 10px 8px #888888;z-index: 11;" >
        <form th:action="@{/courses/course_save}" method="post" class="mt-5 mb-5" enctype="multipart/form-data" id="nameform">

            <div class="form-group">
                <label for="UserName">Course name </label>
                <input  th:name="name" type="text" class="form-control" id="UserName"
                        placeholder="Enter course name">
            </div>


            <div class="form-group">
                <label for="bio">Description: </label>
                <textarea  th:name="description" type="text" class="form-control"
                           id="bio" placeholder="Enter course description here"></textarea>
            </div>

            <div class="form-group">
                <label for="formFileLg">Select course image: </label>
                <input type="file" th:name="img" id="formFileLg"
                       accept="image/png, image/jpg">
            </div>

            <div class="form-group">
                <label for="coursePrise">Course price </label>
                <input  th:name="price" type="text" class="form-control" id="coursePrise"
                        placeholder="price">
            </div>


            <div class="form-group">
                <label for="UserName">Lesson title </label>
                <input  name="lessonTitle" type="text" class="form-control" id="LessonTitle"
                        placeholder="Lesson title">
            </div>


            <div class="form-group">
                <label for="UserName">Lesson video </label>
                <input  name="lessonVideoPath" type="text" class="form-control" id="LessonVideo"
                        placeholder="video path">
            </div>

        </form>
        <div class="form-group">
            <button type="submit" class="btn btn-success" form="nameform">Save</button>
            <a th:href="@{/courses/home}" class="btn btn-primary ml-3" style="width: 60px; height: 38px; text-align: center;"> Back </a>
        </div>
    </div>

</div>
<script>
    $(document).ready(function (){
        var multipleCancelButton = new Choices('#mentor',{
            removeItemButton: true,
            maxItemCount: 5,
            searchResultLimit: 5,
            renderChoiceLimit: 5
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>