<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Roles</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr  th:each="role : ${rolesList}">
    <th  scope="row">[[${role.id}]]</th>
    <td>
      <a th:href="@{'/show-all-role-users/' + ${role.id}}"
         th:text="${role.name}">
      </a>
    </td>
    <td>
      <a th:href="@{'/roles/edit' + ${role.id}}" class="btn btn-warning">Edit</a>
    </td>

    <td>
      <a th:href="@{'/roles/delete/' + ${role.id}}" class="btn btn-danger">Delete</a>
    </td>
  </tr >


  </tbody>
</table>

<!--    <div class="row">-->
<!--        <div class="col-md-4 offset-4">-->
<!--            <tr th:each="course, iStat : ${courseList.}"></tr>-->
<!--        </div>-->
<!--    </div>-->
</body>
</html>