<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>About</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/book.css}">
    <!-- Responsive-->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- fevicon -->
    <link rel="icon" th:href="@{/images/fevicon.png}" type="image/gif"/>
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap"
          rel="stylesheet">
    <!-- owl stylesheets -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
          media="screen">
</head>
<body>

<!-- header section start -->
<div class="header_section">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"><a th:href="@{'/faculty'}"><img class="logo" th:src="@{/images/logo.png}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{'/faculty'}">Facultet azolari</a>
                    </li>
                    <li class="nav-item dropdown" th:each="groups : ${groups}">
                        <a class="nav-link dropdown-toggle" id="navbarGroups" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Guruhlar</a>
                        <div class="dropdown-menu" aria-labelledby="navbarGroups">
                            <a class="dropdown-item" th:text="${groups.getName()}"></a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" th:href="@{/about.html}"
                           id="navbarDropDownFoydaliManbalarLink" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Foydali Manbalar</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropDownFoydaliManbalarLink">
                            <a class="dropdown-item" th:href="@{'/faculty'}">Kitoblar</a>
                            <a class="dropdown-item" th:href="@{'/faculty'}">Maqolalar</a>
                            <a class="dropdown-item" th:href="@{'/faculty'}">Malumotlar</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/donate.html}">Mualiflar</a>
                    </li>

                </ul>
            </div>
    </nav>
</div>
<!-- header section end -->
<!-- about section start -->


<section class="container">
    <div th:each="book : ${bookList}" class="card1">
        <div class="card1-image">
            <img  th:if="${book.getBase64() != null}"
                 th:src="'data:image/jpeg;base64, '+${book.getBase64()}" alt="">
        </div><br>
        <h2 th:text="${book.getName()}"></h2>
        <h3 th:text="${book.getAuthors()}"></h3>
<!--        <h3 th:text="${book.getRusUzb()==false ? 'Ruscha':'Uzbekcha'}"></h3>-->
        <p th:text="${book.getDescription()}">
        </p>
        <div class="download_bt">
            <a th:href="'/books/download'">Yuklab olish</a>
        </div>
    </div>
</section>

<!--<div class="fundraise_section">-->
<!--    <div class="fundraise_section_main">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-4" th:each="bokks : ${bookList}">-->
<!--                <div class="box_main">-->
<!--                    <div class="icon_1">-->
<!--                        <a th:href="@{'/bokks/get-by-id/'+ ${bokks.getId()}}">-->
<!--                            <img th:if="${bokks.getBase64() != null}"-->
<!--                                 th:src="'data:image/jpg;base64, '+${bokks.getBase64()}" alt="">-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <h2 class="volunteer_text" th:text="${bokks.getName()}"></h2>-->
<!--                    <h4 class="volunteer_text" th:text="${bokks.getAuthors()}"></h4>-->
<!--                    <p class="lorem_text" th:text="${bokks.getDescription()}"></p>-->
<!--                    <div class="join_bt"><a th:href="@{'/bokks/get-by-id/' + ${bokks.getId()}}">Ko'proq</a></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- about section end -->
<!-- footer section start -->
<div class="footer_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="footer_logo"><img class="logo" th:src="@{/images/logo.png}"></div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <h4 class="footer_taital">NAVIGATION</h4>
                <div class="footer_menu_main">
                    <div class="footer_menu_left">
                        <div class="footer_menu">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="donate.html">Donate</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer_menu_right">
                        <div class="footer_menu">
                            <ul>
                                <li><a href="about.html">About</a></li>
                                <li><a href="news.html">News</a></li>
                                <li><a href="mission.html">Our Mission</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <h4 class="footer_taital">NEWS</h4>
                <p class="footer_text">Generators on the Internet</p>
                <p class="footer_text">Tend to repeat predefined</p>
                <p class="footer_text">Chunks as necessary, making</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <h4 class="footer_taital">address</h4>
                <p class="footer_text">Ave NW, Washington</p>
                <p class="footer_text">+01 1234567890</p>
                <p class="footer_text">demo@gmail.com</p>
            </div>
        </div>
        <div class="footer_section_2">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-3">
                    <div class="social_icon">
                        <ul>
                            <li><a href="#"><img th:src="@{/images/fb-icon.png}"></a></li>
                            <li><a href="#"><img th:src="@{/images/twitter-icon.png}"></a></li>
                            <li><a href="#"><img th:src="@{/images/linkedin-icon.png}"></a></li>
                            <li><a href="#"><img th:src="@{/images/instagram-icon.png}"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-9">
                    <input type="text" class="address_text" placeholder="Enter your Enail" name="text">
                    <button type="button" class="get_bt">SUBSCRIBE</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
    <div class="container">
        <p class="copyright_text">2020 All Rights Reserved. Design by <a href="https://html.design">Free html
            Templates</a></p>
    </div>
</div>
<!-- copyright section end -->
<!-- Javascript files-->
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.0.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugin.js}"></script>
<!-- sidebar -->
<script type="text/javascript" th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<script type="text/javascript" th:src="@{/js/custom.js}"></script>
<!-- javascript -->
<script type="text/javascript" th:src="@{/js/owl.carousel.js}"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>
</html>

